ion-content {
  --background: #f4f5f8;
}

ion-card {
  margin-top: 80px;
  border-radius: 16px;
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.mensaje {
  text-align: center;
  margin-top: 15px;
}